In [3]:
import pandas as pd

# basic_information

In [243]:
basic_information = pd.read_csv('./数据仓库构建/工商数据/粮油公司基础信息.csv')
basic_information.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3885 entries, 0 to 3884
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                3885 non-null   object
 1   url                3885 non-null   object
 2   enterprise_name    3885 non-null   object
 3   Current_Time       3885 non-null   object
 4   annualDate         3885 non-null   object
 5   authority          3885 non-null   object
 6   district           3885 non-null   object
 7   entType            3885 non-null   object
 8   enterprise_name.1  3885 non-null   object
 9   industry           3885 non-null   object
 10  insuranceNum       3885 non-null   object
 11  legalPerson        3885 non-null   object
 12  licenseNumber      3733 non-null   object
 13  openStatus         3885 non-null   object
 14  openTime           3885 non-null   object
 15  orgNo              3885 non-null   object
 16  pid                3885 non-null   int64
 17  prevEntName        3885 non-null   object
 18  qualification      3885 non-null   object
 19  realCapital        3885 non-null   object
 20  regAddr            3885 non-null   object
 21  regCapital         3885 non-null   object
 22  regNo              3885 non-null   object
 23  scope              3885 non-null   object
 24  startDate          3885 non-null   object
 25  unifiedCode        3885 non-null   object
dtypes: int64(1), object(25)
memory usage: 789.3+ KB

In [248]:
set(basic_information['annualDate'])#查看异常值

{'2018-05-31',
 '2020-05-26',
 '2021-08-11',
 '2022-09-29',
 '2020-06-29',
 '2017-05-12',
 '2020-08-18',
 '2021-11-24',
 '2022-07-19',
 '2017-12-11',
 '2019-04-29',
 '2018-11-05',
 '2020-11-16',
 '2020-03-11',
 '2022-08-31',
 '2022-12-29',
 '2023-03-14',
 '2020-11-24',
 '2023-05-04',
 '2021-07-13',
 '2022-05-11',
 '2020-01-14',
 '2022-09-08',
 '2022-02-11',
 '2022-09-14',
 '2020-07-22',
 '2022-06-09',
 '2022-07-20',
 '2022-08-17',
 '2022-11-03',
 '2021-06-02',
 '2020-05-09',
 '2016-09-22',
 '2021-10-08',
 '2021-07-15',
 '2022-04-11',
 '2022-02-25',
 '2020-12-08',
 '2016-03-31',
 '2020-07-09',
 '2021-03-09',
 '2020-11-06',
 '2019-03-20',
 '2017-08-22',
 '2022-03-25',
 '2020-03-18',
 '2023-02-17',
 '2022-01-13',
 '2018-09-30',
 '2021-06-18',
 '2020-08-29',
 '2021-05-24',
 '2020-02-26',
 '2021-12-24',
 '2021-03-17',
 '2020-07-31',
 '2019-02-01',
 '2020-06-17',
 '2021-10-09',
 '2020-04-23',
 '2023-03-13',
 '2022-05-07',
 '2021-06-09',
 '2019-08-26',
 '2023-01-13',
 '2021-11-16',
 '2022-03-18',
 '2022-12-22',
 '2022-05-12',
 '2021-01-28',
 '2021-11-22',
 '2021-05-14',
 '2022-03-03',
 '2017-08-11',
 '2022-03-21',
 '2022-08-03',
 '2022-02-23',
 '2018-12-18',
 '2022-04-28',
 '2022-07-21',
 '2022-02-15',
 '2020-08-10',
 '2022-03-24',
 '2021-12-23',
 '2016-01-28',
 '2020-07-14',
 '2020-09-09',
 '2023-03-29',
 '2022-11-24',
 '2022-02-22',
 '2018-08-13',
 '2021-02-19',
 '2021-01-12',
 '2016-05-23',
 '2022-02-18',
 '2023-03-23',
 '2022-08-12',
 '2018-10-26',
 '2021-01-20',
 '2019-06-24',
 '2016-12-06',
 '2022-10-12',
 '2021-03-05',
 '2021-03-08',
 '2020-01-22',
 '2023-02-02',
 '2022-08-25',
 '2018-02-13',
 '2022-11-23',
 '2021-09-01',
 '2021-03-25',
 '2019-04-03',
 '2020-08-02',
 '2022-11-14',
 '2021-07-28',
 '2019-03-26',
 '2019-07-31',
 '2020-09-30',
 '2017-03-06',
 '2020-07-16',
 '2020-07-17',
 '2019-04-10',
 '2021-01-26',
 '2019-08-27',
 '2019-04-26',
 '2022-01-25',
 '2020-04-08',
 '2020-07-07',
 '2020-05-14',
 '2022-08-04',
 '2021-08-07',
 '2023-01-10',
 '2020-11-11',
 '2022-08-06',
 '2018-02-27',
 '2022-09-30',
 '2018-07-05',
 '2023-01-29',
 '2020-11-10',
 '2018-10-19',
 '2017-09-22',
 '2018-04-08',
 '2020-07-08',
 '2022-05-31',
 '2018-06-01',
 '2019-08-16',
 '2023-02-21',
 '2022-11-21',
 '2022-09-06',
 '2022-12-02',
 '2023-04-07',
 '2021-04-27',
 '2021-12-28',
 '2021-12-29',
 '2022-11-15',
 '2022-12-18',
 '2021-12-13',
 '2022-02-10',
 '2020-04-15',
 '2022-10-31',
 '2021-08-18',
 '2016-08-04',
 '2022-12-12',
 '2017-03-10',
 '2017-05-17',
 '2022-04-01',
 '2022-08-18',
 '2019-08-19',
 '2022-10-19',
 '2019-09-20',
 '2020-04-28',
 '2021-07-30',
 '2020-10-27',
 '2021-06-25',
 '2021-12-17',
 '2021-12-03',
 '2021-09-30',
 '2023-05-11',
 '2022-01-21',
 '2021-07-06',
 '2019-09-25',
 '2019-09-11',
 '2020-05-19',
 '2020-08-15',
 '2022-01-17',
 '2023-03-20',
 '2022-04-02',
 '2022-06-30',
 '2019-12-25',
 '2016-10-10',
 '2020-09-01',
 '2019-01-31',
 '2020-01-06',
 '2021-08-19',
 '2020-01-19',
 '2018-04-28',
 '2022-06-18',
 '2022-05-06',
 '2023-01-05',
 '2022-09-07',
 '2021-09-09',
 '2022-07-23',
 '2020-04-26',
 '2023-03-09',
 '2023-01-16',
 '2018-08-20',
 '2019-09-05',
 '2022-06-08',
 '2021-06-17',
 '2021-02-04',
 '2022-04-26',
 '2019-09-04',
 '2019-07-19',
 '2019-05-17',
 '2022-03-07',
 '2020-06-11',
 '2023-01-11',
 '2022-02-09',
 '2020-06-19',
 '2020-12-16',
 '2022-10-27',
 '2023-01-03',
 '2021-05-12',
 '2023-05-05',
 '2019-11-29',
 '2016-07-01',
 '2020-12-23',
 '2022-10-20',
 '2019-01-25',
 '2022-11-18',
 '2021-09-28',
 '2021-09-23',
 '2021-06-21',
 '2021-12-31',
 '2021-12-02',
 '2022-08-15',
 '2022-03-01',
 '2021-02-18',
 '2019-07-01',
 '2020-03-13',
 '2022-08-10',
 '2019-01-30',
 '2016-12-08',
 '2021-01-14',
 '2019-07-03',
 '2021-12-14',
 '2020-10-13',
 '2019-12-18',
 '2022-06-17',
 '2021-04-28',
 '2019-03-28',
 '2022-09-05',
 '2021-11-03',
 '2019-10-28',
 '2017-10-19',
 '2020-06-30',
 '2022-11-16',
 '2015-10-09',
 '2017-08-28',
 '2017-08-01',
 '2017-12-04',
 '2017-09-18',
 '2016-06-17',
 '2020-10-12',
 '2022-11-04',
 '2021-08-25',
 '2018-04-03',
 '2020-08-26',
 '2020-06-15',
 '2021-10-18',
 '2022-08-11',
 '2022-07-08',
 '2016-09-14',
 '2020-10-28',
 '2018-11-26',
 '2021-12-20',
 '2021-02-02',
 '2017-09-13',
 '2017-11-30',
 '2022-11-13',
 '2015-10-19',
 '2022-08-05',
 '2023-03-21',
 '2021-03-23',
 '2021-05-08',
 '2020-11-23',
 '2018-05-14',
 '2020-12-17',
 '2022-07-15',
 '2019-09-12',
 '2019-07-26',
 '2023-04-04',
 '2020-07-24',
 '2020-12-29',
 '2020-04-03',
 '2019-05-21',
 '2023-03-30',
 '2020-10-16',
 '2022-07-26',
 '2022-04-29',
 '2021-08-04',
 '2022-09-22',
 '2020-05-08',
 '2018-12-17',
 '2022-07-27',
 '2019-01-11',
 '2019-10-24',
 '2022-08-08',
 '2020-08-27',
 '2022-11-01',
 '2016-09-08',
 '2021-08-13',
 '2018-10-11',
 '2021-05-13',
 '2019-01-21',
 '2019-01-28',
 '2019-04-24',
 '2019-06-20',
 '2020-05-20',
 '2023-02-06',
 '2021-04-15',
 '2019-08-20',
 '2022-11-11',
 '2020-07-02',
 '2018-10-31',
 '2019-11-26',
 '2021-06-04',
 '2021-03-29',
 '2021-04-01',
 '2022-07-12',
 '2017-03-22',
 '2021-07-26',
 '2019-11-28',
 '2021-07-19',
 '2022-08-01',
 '2017-06-23',
 '2022-09-01',
 '2020-12-21',
 '2018-01-03',
 '2023-05-08',
 '2019-07-05',
 '2023-03-02',
 '2019-05-28',
 '2019-04-23',
 '2021-12-01',
 '2022-07-04',
 '2021-09-02',
 '2017-09-19',
 '2023-02-20',
 '2022-01-18',
 '2020-11-09',
 '2021-05-26',
 '2022-03-02',
 '2018-09-12',
 '2020-04-07',
 '2022-11-22',
 '2022-06-16',
 '2019-01-18',
 '2022-02-14',
 '2020-06-05',
 '2022-05-19',
 '2021-10-13',
 '2013-12-03',
 '2022-12-16',
 '2017-02-24',
 '2016-05-03',
 '2018-06-29',
 '2021-08-09',
 '2022-05-10',
 '2022-06-02',
 '2018-11-09',
 '2021-08-16',
 '2020-08-14',
 '2021-07-16',
 '2019-03-29',
 '2019-11-13',
 '2020-11-26',
 '2022-08-02',
 '2022-12-14',
 '2016-04-22',
 '2018-08-24',
 '2019-03-19',
 '2017-08-04',
 '2018-05-18',
 '2022-07-01',
 '2019-06-27',
 '2022-05-26',
 '2022-12-05',
 '2022-12-28',
 '2022-10-09',
 '2022-12-07',
 '2019-09-06',
 '2020-03-30',
 '2020-06-08',
 '2023-04-24',
 '2021-03-10',
 '2017-08-29',
 '2021-04-26',
 '2020-06-18',
 '2022-04-27',
 '2020-12-30',
 '2021-01-25',
 '2020-11-20',
 '2020-03-04',
 '2018-04-09',
 '2017-06-14',
 '2023-03-08',
 '2022-06-13',
 '2019-10-21',
 '2020-05-12',
 '2016-05-25',
 '2022-10-24',
 '2019-10-10',
 '2018-10-25',
 '2019-12-04',
 '2021-03-02',
 '2020-12-04',
 '2023-03-31',
 '2021-08-23',
 '2021-11-11',
 '2019-12-03',
 '2022-05-18',
 '2022-05-30',
 '2020-05-07',
 '2021-11-08',
 '2021-08-17',
 '2021-07-12',
 '2022-03-16',
 '2022-12-09',
 '2019-07-17',
 '2023-04-13',
 '2017-10-18',
 '2021-10-29',
 '2018-04-26',
 '2020-03-20',
 '2018-11-06',
 '2017-12-08',
 '2022-06-21',
 '2021-05-28',
 '2022-04-14',
 '2021-12-06',
 '2020-07-28',
 '2022-04-24',
 '2021-09-26',
 '2021-03-03',
 '2020-03-19',
 '2019-03-14',
 '2022-01-14',
 '2019-11-21',
 '2021-11-25',
 '2022-05-25',
 '2022-07-05',
 '2023-05-09',
 '2021-03-11',
 '2021-12-12',
 '2022-09-21',
 '2021-05-07',
 '2023-03-10',
 '2021-05-18',
 '2021-07-23',
 '2022-07-13',
 '2022-03-23',
 '2019-11-25',
 '2020-03-24',
 '2020-09-20',
 '2022-12-01',
 '2022-12-23',
 '2020-03-17',
 '2018-07-18',
 '2023-05-10',
 '2017-09-28',
 '2021-06-23',
 '2019-05-24',
 '2022-06-23',
 '2018-06-25',
 '2019-04-16',
 '2022-12-06',
 '2021-04-02',
 '2022-01-08',
 '2020-09-17',
 '2020-12-01',
 '2019-07-02',
 '2021-11-17',
 '2020-04-02',
 '2023-02-14',
 '2021-12-09',
 '2023-01-30',
 '2018-07-26',
 '2020-10-30',
 '2020-09-27',
 '2021-04-30',
 '2023-03-24',
 '2019-03-27',
 '2019-07-18',
 '2019-01-23',
 '2022-07-17',
 '2018-09-03',
 '2019-07-23',
 '2017-11-27',
 '2017-09-21',
 '2021-06-24',
 '2021-01-15',
 '2019-04-19',
 '2022-03-17',
 '2019-09-18',
 '2022-10-26',
 '2020-10-29',
 '2019-05-22',
 '2021-06-08',
 '2020-07-23',
 '2022-05-13',
 '2023-03-01',
 '2020-08-24',
 '2023-03-22',
 '2021-12-05',
 '2019-02-26',
 '2023-01-31',
 '2021-09-22',
 '2020-08-19',
 '2023-01-07',
 '2019-11-01',
 '2023-04-12',
 '2022-04-20',
 '2021-09-18',
 '2021-09-24',
 '2018-12-13',
 '2019-10-11',
 '2023-01-28',
 '2020-05-13',
 '2020-09-21',
 '2022-05-23',
 '2019-09-30',
 '2020-09-22',
 '2019-10-23',
 '2018-08-17',
 '2020-07-29',
 '2020-02-25',
 '2021-08-12',
 '2021-01-08',
 '2022-10-11',
 '2019-04-17',
 '2022-02-17',
 '2022-04-17',
 '2021-12-30',
 '2021-10-21',
 '2020-04-01',
 '2020-08-12',
 '2018-11-08',
 '2021-07-09',
 '2022-03-15',
 '2021-05-19',
 '2022-03-30',
 '2021-04-13',
 '2022-10-10',
 '2022-12-03',
 '2021-10-25',
 '2021-11-19',
 '2021-08-02',
 '2020-02-27',
 '2020-05-06',
 '2018-05-09',
 '2017-11-24',
 '2022-11-17',
 '2022-06-20',
 '2022-06-01',
 '2021-06-15',
 '2021-05-20',
 '2023-02-10',
 '2020-07-06',
 '2016-11-30',
 '2018-12-26',
 '2023-02-09',
 '2020-11-17',
 '2017-09-20',
 '2021-03-26',
 '2020-05-27',
 '2019-08-08',
 '2018-11-20',
 '2018-03-09',
 '2021-09-17',
 '2023-02-27',
 '2023-04-21',
 '2021-08-06',
 '2021-11-15',
 '2020-07-27',
 '2019-06-17',
 '2022-08-30',
 '2021-09-06',
 '2023-03-18',
 '2020-08-31',
 '2018-03-29',
 '2017-04-10',
 '2020-11-02',
 '2023-02-22',
 '2021-09-29',
 '2022-03-28',
 '2021-08-24',
 '2022-10-25',
 '2018-06-28',
 '2019-04-02',
 '2023-01-18',
 '2020-08-11',
 '2018-08-28',
 '2022-09-09',
 '2022-01-10',
 '2019-07-08',
 '2019-09-10',
 '2018-08-02',
 '2023-04-06',
 '2022-02-28',
 '2012-05-15',
 '2020-07-10',
 '2021-11-30',
 '2021-10-12',
 '2022-09-28',
 '2019-11-19',
 '2021-07-29',
 '2022-06-24',
 '2023-03-17',
 '2020-04-16',
 '2021-03-16',
 '2018-12-24',
 '2021-11-09',
 '2019-12-02',
 '2022-09-19',
 '2022-07-29',
 '2013-06-24',
 '2017-11-10',
 '2023-02-19',
 '2021-11-10',
 '2018-12-05',
 '2021-12-22',
 '2022-07-07',
 '2020-04-09',
 '2021-06-03',
 '2015-11-05',
 '2023-04-29',
 '2021-07-22',
 '2022-10-17',
 '2021-03-01',
 '2022-10-14',
 '2020-05-18',
 '2022-09-20',
 '2021-11-23',
 '2019-01-22',
 '2019-10-17',
 '2018-11-13',
 '2022-08-22',
 '2020-09-02',
 '2021-02-09',
 '2021-02-03',
 '2021-09-14',
 '2021-12-10',
 '2019-06-29',
 '2020-11-12',
 '2022-05-20',
 '2021-03-19',
 '2022-04-18',
 '2023-02-07',
 '2021-03-18',
 '2021-05-11',
 '2021-10-22',
 '2023-02-15',
 '2022-06-14',
 '2022-01-20',
 '2023-03-03',
 '2020-03-25',
 '2023-04-25',
 '2020-04-29',
 '2023-04-23',
 '2021-07-05',
 '2023-02-24',
 '2021-01-21',
 '2019-07-12',
 '2021-12-16',
 '2021-01-19',
 '2022-12-08',
 '2019-08-06',
 '2022-01-04',
 '2021-10-26',
 '2017-07-07',
 '2021-03-30',
 '2023-03-11',
 '2021-10-14',
 '2016-03-10',
 '2022-07-16',
 '2022-05-16',
 '2017-09-05',
 '2019-08-21',
 '2021-01-06',
 '2020-06-01',
 '2019-06-18',
 '2019-11-27',
 '2019-11-18',
 '2018-11-02',
 '2022-03-09',
 '2022-05-09',
 '2018-07-31',
 '2018-06-04',
 '2020-06-23',
 '2023-04-17',
 '2022-08-16',
 '2019-03-12',
 '2021-11-29',
 '2021-04-08',
 '2021-10-20',
 '2021-12-15',
 '2016-11-01',
 '2021-09-07',
 '2022-07-09',
 '2021-05-21',
 '2020-07-20',
 '2022-03-04',
 '2020-08-21',
 '2018-07-04',
 '2022-04-25',
 '2021-04-21',
 '2021-01-27',
 '2020-07-13',
 '2021-08-05',
 '2018-12-11',
 '2022-12-13',
 '2016-06-14',
 '2019-12-16',
 '2019-06-26',
 '2021-04-09',
 '2022-06-07',
 '2021-04-14',
 '2021-10-11',
 '2020-04-14',
 '2022-09-15',
 '2020-03-06',
 '2020-04-30',
 '2020-10-14',
 '2021-05-31',
 '2019-07-25',
 '2022-12-15',
 '2021-01-22',
 '2022-02-21',
 '2016-07-13',
 '2022-04-08',
 '2021-02-26',
 '2019-09-02',
 '2022-06-22',
 '2020-07-03',
 '2022-11-10',
 '2022-10-08',
 '2023-04-14',
 '2021-08-10',
 '2022-06-06',
 '2021-03-12',
 '2022-12-26',
 '2020-06-22',
 '2020-05-21',
 '2017-05-15',
 '2017-11-23',
 '2021-05-17',
 '2023-05-06',
 '2022-03-11',
 '2019-01-20',
 '2019-12-27',
 '2019-05-29',
 '2021-06-07',
 '2022-03-14',
 '2018-09-11',
 '2018-09-18',
 '2019-03-07',
 '2020-10-09',
 '2022-04-13',
 '2023-02-03',
 '2019-12-13',
 '2020-06-28',
 '2017-08-18',
 '2022-06-27',
 '2021-09-08',
 '2019-12-31',
 '2020-12-03',
 '2020-09-16',
 '2019-11-15',
 '2019-11-20',
 '2021-07-20',
 '2016-08-18',
 '2022-01-06',
 '2018-07-13',
 '2021-11-02',
 '2020-04-27',
 '2023-03-25',
 '2021-09-13',
 '2021-05-10',
 '2020-05-11',
 '2017-12-26',
 '2022-07-18',
 '2023-03-06',
 '2022-08-29',
 '2021-07-14',
 '2019-12-12',
 '2017-01-04',
 '2021-03-24',
 '2021-03-31',
 '2015-10-08',
 '2022-01-28',
 '2021-11-26',
 '2022-03-05',
 '2018-08-27',
 '2021-05-27',
 '2018-08-07',
 '2021-10-15',
 '2022-07-28',
 '2018-12-06',
 '2022-04-21',
 '2016-01-11',
 '2023-04-27',
 '2021-06-11',
 '2021-08-20',
 '2017-02-16',
 '2023-04-28',
 '2020-06-12',
 '2022-04-19',
 '2019-12-20',
 '2022-01-11',
 '2021-06-01',
 '2023-04-11',
 '2023-01-12',
 '2022-07-14',
 '2020-08-17',
 '2021-07-21',
 '2019-05-30',
 '2020-09-03',
 '2020-10-19',
 '2017-10-23',
 '2021-04-23',
 '2021-02-24',
 '2020-11-13',
 '2019-08-14',
 '2020-12-31',
 '2021-07-07',
 '2017-06-05',
 '2011-06-02',
 '2022-01-12',
 '2022-02-24',
 '2021-04-19',
 '2015-12-11',
 '2021-09-10',
 '2022-04-22',
 '2021-11-01',
 '2021-07-27',
 '2022-04-06',
 '2020-12-15',
 '2021-06-16',
 '2022-03-22',
 '2019-05-09',
 '2021-06-28',
 '2015-01-08',
 '2018-10-10',
 '2018-04-02',
 '2019-07-29',
 '2022-02-08',
 '2022-09-16',
 '2018-04-13',
 '2022-08-09',
 '2021-04-20',
 '2022-07-02',
 '2022-09-27',
 '2022-02-16',
 '2021-06-30',
 '2016-10-26',
 '2022-10-13',
 '2023-04-03',
 '2022-09-02',
 '2021-05-25',
 '2023-02-13',
 '2020-12-07',
 '2020-09-29',
 '2017-02-27',
 '2018-09-13',
 '2021-03-22',
 '2021-12-27',
 '2019-05-31',
 '2019-10-09',
 '2022-01-26',
 '2021-05-06',
 '2020-06-10',
 '2022-06-29',
 '2018-08-21',
 '2021-08-31',
 '2018-08-22',
 '2021-03-15',
 '2018-04-10',
 '2021-08-03',
 '2020-11-18',
 '2022-10-21',
 '2022-11-02',
 '2016-05-10',
 '2017-06-30',
 '2022-07-25',
 '2021-11-04',
 '2018-11-16',
 '2020-06-24',
 '2018-07-09',
 '2019-01-08',
 '2022-09-13',
 '2017-12-20',
 '2022-04-07',
 '2019-03-08',
 '2022-12-19',
 '2022-11-08',
 '2020-09-24',
 '2022-01-29',
 '2020-03-10',
 '2019-08-09',
 '2017-04-20',
 '2016-11-25',
 '2018-11-28',
 '2023-02-01',
 '2022-11-29',
 '2023-03-27',
 '2021-11-18',
 '2022-04-12',
 '2019-12-26',
 '2023-03-28',
 '2022-10-18',
 '2021-04-12',
 '2022-07-06',
 '2023-01-09',
 '2020-09-23',
 '2021-10-19',
 '2022-12-17',
 '2020-12-24',
 '2022-10-28',
 '2020-10-20',
 '2020-03-03',
 '2020-01-02',
 '2020-11-05',
 '2022-01-19',
 '2016-10-24',
 '2020-06-02',
 '2020-10-23',
 '2023-04-10',
 '2021-04-16',
 '2019-12-06',
 '2021-08-26',
 '2020-12-25',
 '2021-06-29',
 '2019-06-11',
 '2015-12-08',
 '2020-04-20',
 '2016-10-19',
 '2023-02-23',
 '2020-08-05',
 '2016-04-14',
 '2022-11-09',
 '2022-03-08',
 '2021-09-16',
 '2020-09-07',
 '2021-01-29',
 '2021-01-04',
 '2023-04-19',
 '2018-06-26',
 '2020-07-21',
 '2020-10-26',
 '2022-03-31',
 '2022-08-19',
 '2023-01-20',
 '2022-05-05',
 '2021-01-05',
 '2019-08-15',
 '2019-07-11',
 '2020-07-30',
 '2020-11-19',
 '2022-01-07',
 '2016-10-14',
 '2019-06-28',
 '2022-06-10',
 '2020-04-17',
 '2022-09-23',
 '2021-07-08',
 '2020-09-28',
 '2021-11-05',
 '2017-10-11',
 '2022-06-26',
 '2019-10-18',
 '2022-06-25',
 '2023-01-17',
 '2017-06-12',
 '2021-08-27',
 '2016-06-07',
 '2022-06-28',
 '2022-05-24',
 '2017-04-06',
 '2016-12-23',
 '2022-08-23',
 '2022-03-10',
 '2023-03-07',
 '2020-12-09',
 '2020-06-04',
 '2019-01-24',
 '2022-05-02',
 '2019-11-06',
 '2023-02-11',
 '2020-05-25',
 ...}

In [249]:
basic_information.head()

,_id,url,enterprise_name,Current_Time,annualDate,authority,district,entType,enterprise_name.1,industry,...,pid,prevEntName,qualification,realCapital,regAddr,regCapital,regNo,scope,startDate,unifiedCode
0,645f2ecc363ff924215d0a97,https://aiqicha.baidu.com/company_detail_29918...,郑州聚佰福食品有限公司,2023-05-13,2021-01-27,郑州市金水区市场监督管理局,河南省郑州市金水区,有限责任公司(自然人独资),郑州聚佰福食品有限公司,零售业,...,29918592354862,-,增值税一般纳税人,-,河南省郑州市金水区东风路31号瀚海海尚C座7层717室,300万(元),914101050652521374,许可项目：食品经营（销售预包装食品）；食品互联网销售（销售预包装食品）；食品经营（销售散装食...,2013-03-13,914101050652521374
1,645f1618363ff924215bb0f0,https://aiqicha.baidu.com/company_detail_93988...,义乌市壁登贸易有限公司,2023-05-13,2022-07-21,义乌市市场监督管理局,浙江省金华市义乌市,有限责任公司(自然人投资或控股),义乌市壁登贸易有限公司,批发业,...,93988833940415,-,-,-,浙江省义乌市北苑街道秋实路117号B1栋2单元2楼207（自主申报）,100万(元),91330782MA2MM9AT6G,一般项目：互联网销售（除销售需要许可的商品）；食品销售（仅销售预包装食品）；日用品销售；日用...,2021-08-31,91330782MA2MM9AT6G
2,645f1618363ff924215bb0ef,https://aiqicha.baidu.com/company_detail_92887...,贝氏菲可（江西）生物技术有限公司,2023-05-13,2021-12-09,赣州市市场监督管理局,江西省赣州市信丰县,有限责任公司(港澳台投资、非独资),贝氏菲可（江西）生物技术有限公司,食品制造业,...,92887440667730,-,-,-,江西省赣州市信丰县工业园西区5栋1层厂房,200万(元),91360700MA7BYRMK2D,许可项目：食品生产，化妆品生产，消毒剂生产（不含危险化学品），肥料生产（依法须经批准的项目，...,2021-10-29,91360700MA7BYRMK2D
3,645f1618363ff924215bb0ee,https://aiqicha.baidu.com/company_detail_80778...,宿迁京之牛电子商务有限公司,2023-05-13,2023-02-13,沭阳县市场监督管理局,江苏省宿迁市沭阳县,有限责任公司(自然人投资或控股),宿迁京之牛电子商务有限公司,零售业,...,80778420096382,-,-,-,沭阳县维也纳商业广场1幢B423室,100万(元),91321322MABR26K496,许可项目：食品互联网销售（依法须经批准的项目，经相关部门批准后方可开展经营活动，具体经营项目...,2022-07-07,91321322MABR26K496
4,645f1618363ff924215bb0ed,https://aiqicha.baidu.com/company_detail_31550...,北京好物传送门国际贸易有限公司,2023-05-13,2023-03-13,北京市通州区市场监督管理局,北京市通州区,其他有限责任公司,北京好物传送门国际贸易有限公司,批发业,...,31550828922832,-,-,-,北京市通州区水仙西路99号3层01-0559,"2,000万(元)",91110112MA01R4AK3R,许可项目：食品销售；互联网信息服务；网络文化经营；食品互联网销售。（依法须经批准的项目，经相...,2020-05-07,91110112MA01R4AK3R

In [250]:
basic_information.drop(basic_information.columns[[3,8,16,17,18,19,20,21,23,24,25]],axis=1,inplace=True)
basic_information.head()

,_id,url,enterprise_name,annualDate,authority,district,entType,industry,insuranceNum,legalPerson,licenseNumber,openStatus,openTime,orgNo,regNo
0,645f2ecc363ff924215d0a97,https://aiqicha.baidu.com/company_detail_29918...,郑州聚佰福食品有限公司,2021-01-27,郑州市金水区市场监督管理局,河南省郑州市金水区,有限责任公司(自然人独资),零售业,16人,陶娟,410105000350760,开业,2013-03-13 至 无固定期限,06525213-7,914101050652521374
1,645f1618363ff924215bb0f0,https://aiqicha.baidu.com/company_detail_93988...,义乌市壁登贸易有限公司,2022-07-21,义乌市市场监督管理局,浙江省金华市义乌市,有限责任公司(自然人投资或控股),批发业,0人,李一豪,330782003019204,开业,2021-08-31 至 9999-09-09,MA2MM9AT-6,91330782MA2MM9AT6G
2,645f1618363ff924215bb0ef,https://aiqicha.baidu.com/company_detail_92887...,贝氏菲可（江西）生物技术有限公司,2021-12-09,赣州市市场监督管理局,江西省赣州市信丰县,有限责任公司(港澳台投资、非独资),食品制造业,0人,吕子安,360700520014288,开业,2021-10-29 至 无固定期限,MA7BYRMK-2,91360700MA7BYRMK2D
3,645f1618363ff924215bb0ee,https://aiqicha.baidu.com/company_detail_80778...,宿迁京之牛电子商务有限公司,2023-02-13,沭阳县市场监督管理局,江苏省宿迁市沭阳县,有限责任公司(自然人投资或控股),零售业,0人,周玉兰,321322001252314,开业,2022-07-07 至 9999-12-31,MABR26K4-9,91321322MABR26K496
4,645f1618363ff924215bb0ed,https://aiqicha.baidu.com/company_detail_31550...,北京好物传送门国际贸易有限公司,2023-03-13,北京市通州区市场监督管理局,北京市通州区,其他有限责任公司,批发业,12人,张岩,110112028716578,开业,2020-05-07 至 9999-12-31,MA01R4AK-3,91110112MA01R4AK3R

In [251]:
basic_information.dropna(subset=['licenseNumber'],inplace=True)
basic_information.reset_index(drop=True,inplace=True)
basic_information.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3733 entries, 0 to 3732
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              3733 non-null   object
 1   url              3733 non-null   object
 2   enterprise_name  3733 non-null   object
 3   annualDate       3733 non-null   object
 4   authority        3733 non-null   object
 5   district         3733 non-null   object
 6   entType          3733 non-null   object
 7   industry         3733 non-null   object
 8   insuranceNum     3733 non-null   object
 9   legalPerson      3733 non-null   object
 10  licenseNumber    3733 non-null   object
 11  openStatus       3733 non-null   object
 12  openTime         3733 non-null   object
 13  orgNo            3733 non-null   object
 14  regNo            3733 non-null   object
dtypes: object(15)
memory usage: 437.6+ KB

In [252]:
basic_information.rename(columns={'_id':'b_i ID','url':'url','enterprise_name':'enterprise_name','annualDate':'annul_date','authority':'authority','district':'district','entType':'entype','industry':'industry','insuranceNum':'insurence_num','legalPerson':'legai_person','licenseNumber':'license_num','openStatus':'open_status','openTime':'opentime','orgNo':'orgnum'},inplace=True)
basic_information.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3733 entries, 0 to 3732
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   b_i ID           3733 non-null   object
 1   url              3733 non-null   object
 2   enterprise_name  3733 non-null   object
 3   annul_date       3733 non-null   object
 4   authority        3733 non-null   object
 5   district         3733 non-null   object
 6   entype           3733 non-null   object
 7   industry         3733 non-null   object
 8   insurence_num    3733 non-null   object
 9   legai_person     3733 non-null   object
 10  license_num      3733 non-null   object
 11  open_status      3733 non-null   object
 12  opentime         3733 non-null   object
 13  orgnum           3733 non-null   object
 14  regNo            3733 non-null   object
dtypes: object(15)
memory usage: 437.6+ KB

In [253]:
basic_information.to_csv('./数据仓库构建/工商数据/basic_information.csv')

# ACCS

In [39]:
ACCS = pd.read_csv('./数据仓库构建/工商数据/粮油公司软件著作.csv')
ACCS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     1303 non-null   object
 1   序号      1303 non-null   float64
 2   软件名称    1303 non-null   object
 3   软件简称    1303 non-null   object
 4   版本号     1303 non-null   object
 5   软件著作分类  1303 non-null   object
 6   行业分类    1303 non-null   object
 7   登记日期    1303 non-null   object
 8   软件著作人   1303 non-null   object
 9   首次发表日期  1303 non-null   object
 10  国籍      1303 non-null   object
dtypes: float64(1), object(10)
memory usage: 112.1+ KB

In [47]:
ACCS.loc[ACCS['首次发表日期'] == '-', '首次发表日期'] = '1900-01-01'#排除异常值
set(ACCS['首次发表日期'])

{'1900-01-01',
 '2010-02-02',
 '2011-04-02',
 '2012-12-12',
 '2012-12-20',
 '2013-05-20',
 '2013-06-12',
 '2013-12-01',
 '2013-12-11',
 '2013-12-25',
 '2014-03-06',
 '2014-03-10',
 '2014-04-05',
 '2014-06-19',
 '2014-06-20',
 '2014-07-06',
 '2014-07-10',
 '2014-08-15',
 '2014-10-01',
 '2014-11-28',
 '2014-12-30',
 '2015-01-01',
 '2015-03-20',
 '2015-05-13',
 '2015-06-10',
 '2015-07-01',
 '2015-07-21',
 '2015-07-29',
 '2015-08-11',
 '2015-08-26',
 '2015-09-22',
 '2015-10-13',
 '2015-10-23',
 '2015-10-25',
 '2015-10-30',
 '2015-11-18',
 '2015-11-25',
 '2015-11-27',
 '2015-12-10',
 '2015-12-19',
 '2016-01-01',
 '2016-01-05',
 '2016-01-15',
 '2016-01-20',
 '2016-02-01',
 '2016-02-19',
 '2016-03-15',
 '2016-03-16',
 '2016-03-28',
 '2016-04-19',
 '2016-04-23',
 '2016-05-04',
 '2016-05-10',
 '2016-05-17',
 '2016-05-18',
 '2016-05-20',
 '2016-05-30',
 '2016-06-06',
 '2016-06-08',
 '2016-06-17',
 '2016-06-21',
 '2016-06-24',
 '2016-07-01',
 '2016-07-02',
 '2016-07-26',
 '2016-07-28',
 '2016-08-15',
 '2016-08-19',
 '2016-08-21',
 '2016-08-22',
 '2016-08-24',
 '2016-08-30',
 '2016-09-14',
 '2016-09-19',
 '2016-09-22',
 '2016-10-11',
 '2016-10-19',
 '2016-10-22',
 '2016-10-26',
 '2016-10-28',
 '2016-11-01',
 '2016-11-17',
 '2016-11-23',
 '2016-11-26',
 '2016-11-29',
 '2016-11-30',
 '2016-12-01',
 '2016-12-02',
 '2016-12-15',
 '2016-12-24',
 '2016-12-28',
 '2016-12-30',
 '2017-01-01',
 '2017-01-12',
 '2017-01-24',
 '2017-02-10',
 '2017-02-20',
 '2017-02-28',
 '2017-03-09',
 '2017-03-15',
 '2017-03-22',
 '2017-03-25',
 '2017-04-19',
 '2017-04-25',
 '2017-04-26',
 '2017-04-28',
 '2017-05-01',
 '2017-05-09',
 '2017-05-11',
 '2017-05-15',
 '2017-06-05',
 '2017-06-09',
 '2017-06-12',
 '2017-06-14',
 '2017-06-16',
 '2017-06-22',
 '2017-06-26',
 '2017-07-06',
 '2017-07-20',
 '2017-07-26',
 '2017-07-31',
 '2017-08-01',
 '2017-08-08',
 '2017-08-11',
 '2017-08-15',
 '2017-08-23',
 '2017-08-24',
 '2017-08-25',
 '2017-08-28',
 '2017-08-31',
 '2017-09-14',
 '2017-09-15',
 '2017-09-20',
 '2017-09-27',
 '2017-09-30',
 '2017-10-01',
 '2017-10-15',
 '2017-10-25',
 '2017-10-28',
 '2017-11-10',
 '2017-11-15',
 '2017-11-20',
 '2017-11-22',
 '2017-11-24',
 '2017-11-28',
 '2017-11-30',
 '2017-12-02',
 '2017-12-10',
 '2017-12-21',
 '2017-12-28',
 '2017-12-29',
 '2018-01-03',
 '2018-01-15',
 '2018-02-10',
 '2018-02-16',
 '2018-02-20',
 '2018-03-08',
 '2018-03-10',
 '2018-03-17',
 '2018-03-20',
 '2018-03-25',
 '2018-04-17',
 '2018-04-23',
 '2018-05-05',
 '2018-05-07',
 '2018-05-15',
 '2018-05-22',
 '2018-05-24',
 '2018-06-09',
 '2018-06-25',
 '2018-06-26',
 '2018-06-30',
 '2018-07-02',
 '2018-07-12',
 '2018-07-15',
 '2018-07-18',
 '2018-07-20',
 '2018-07-24',
 '2018-07-26',
 '2018-08-12',
 '2018-08-15',
 '2018-08-22',
 '2018-08-30',
 '2018-09-01',
 '2018-09-05',
 '2018-09-07',
 '2018-09-08',
 '2018-09-10',
 '2018-09-11',
 '2018-09-12',
 '2018-09-13',
 '2018-09-15',
 '2018-09-18',
 '2018-09-19',
 '2018-09-28',
 '2018-09-29',
 '2018-10-01',
 '2018-10-10',
 '2018-10-12',
 '2018-10-15',
 '2018-10-19',
 '2018-10-20',
 '2018-10-21',
 '2018-10-25',
 '2018-10-29',
 '2018-10-31',
 '2018-11-02',
 '2018-11-03',
 '2018-11-06',
 '2018-11-07',
 '2018-11-10',
 '2018-11-14',
 '2018-11-16',
 '2018-11-17',
 '2018-11-20',
 '2018-11-28',
 '2018-11-29',
 '2018-11-30',
 '2018-12-01',
 '2018-12-02',
 '2018-12-03',
 '2018-12-05',
 '2018-12-07',
 '2018-12-13',
 '2018-12-14',
 '2018-12-21',
 '2018-12-24',
 '2018-12-28',
 '2018-12-29',
 '2019-01-01',
 '2019-01-05',
 '2019-01-20',
 '2019-01-21',
 '2019-02-01',
 '2019-02-18',
 '2019-03-06',
 '2019-03-11',
 '2019-03-25',
 '2019-03-31',
 '2019-04-06',
 '2019-04-10',
 '2019-04-21',
 '2019-04-26',
 '2019-05-06',
 '2019-05-08',
 '2019-05-10',
 '2019-05-11',
 '2019-05-16',
 '2019-05-18',
 '2019-05-20',
 '2019-05-22',
 '2019-05-26',
 '2019-05-27',
 '2019-05-29',
 '2019-06-06',
 '2019-06-07',
 '2019-06-10',
 '2019-06-13',
 '2019-06-15',
 '2019-06-19',
 '2019-06-20',
 '2019-06-22',
 '2019-06-23',
 '2019-06-27',
 '2019-06-28',
 '2019-06-30',
 '2019-07-01',
 '2019-07-02',
 '2019-07-09',
 '2019-07-28',
 '2019-08-06',
 '2019-08-16',
 '2019-08-20',
 '2019-09-05',
 '2019-09-19',
 '2019-09-20',
 '2019-09-23',
 '2019-09-30',
 '2019-10-09',
 '2019-10-13',
 '2019-10-18',
 '2019-10-25',
 '2019-11-05',
 '2019-11-08',
 '2019-11-22',
 '2019-11-24',
 '2019-11-28',
 '2019-12-12',
 '2019-12-19',
 '2019-12-20',
 '2020-01-03',
 '2020-01-09',
 '2020-01-10',
 '2020-01-20',
 '2020-02-15',
 '2020-02-26',
 '2020-03-01',
 '2020-03-04',
 '2020-03-09',
 '2020-03-11',
 '2020-03-15',
 '2020-03-18',
 '2020-03-20',
 '2020-03-27',
 '2020-03-30',
 '2020-04-13',
 '2020-04-21',
 '2020-05-08',
 '2020-05-12',
 '2020-05-14',
 '2020-05-20',
 '2020-05-21',
 '2020-05-26',
 '2020-06-04',
 '2020-06-12',
 '2020-06-20',
 '2020-06-23',
 '2020-06-25',
 '2020-06-26',
 '2020-07-20',
 '2020-07-22',
 '2020-07-23',
 '2020-07-28',
 '2020-08-08',
 '2020-08-12',
 '2020-08-13',
 '2020-08-17',
 '2020-08-18',
 '2020-08-20',
 '2020-08-28',
 '2020-08-31',
 '2020-09-07',
 '2020-09-10',
 '2020-09-23',
 '2020-10-01',
 '2020-10-11',
 '2020-10-12',
 '2020-10-16',
 '2020-10-20',
 '2020-10-21',
 '2020-10-22',
 '2020-10-28',
 '2020-10-30',
 '2020-11-05',
 '2020-11-06',
 '2020-11-19',
 '2020-11-20',
 '2020-11-25',
 '2020-11-28',
 '2020-11-30',
 '2020-12-02',
 '2020-12-03',
 '2020-12-09',
 '2020-12-10',
 '2020-12-15',
 '2020-12-22',
 '2020-12-25',
 '2020-12-30',
 '2021-01-01',
 '2021-01-05',
 '2021-01-06',
 '2021-01-07',
 '2021-01-15',
 '2021-01-18',
 '2021-01-21',
 '2021-01-23',
 '2021-01-26',
 '2021-01-29',
 '2021-02-01',
 '2021-02-05',
 '2021-02-09',
 '2021-02-11',
 '2021-02-15',
 '2021-02-22',
 '2021-02-25',
 '2021-02-28',
 '2021-03-01',
 '2021-03-02',
 '2021-03-16',
 '2021-03-20',
 '2021-03-25',
 '2021-04-13',
 '2021-04-19',
 '2021-04-20',
 '2021-04-29',
 '2021-04-30',
 '2021-05-01',
 '2021-05-13',
 '2021-05-20',
 '2021-05-21',
 '2021-05-23',
 '2021-05-27',
 '2021-05-28',
 '2021-05-31',
 '2021-06-01',
 '2021-06-09',
 '2021-06-14',
 '2021-06-16',
 '2021-06-20',
 '2021-06-30',
 '2021-07-01',
 '2021-07-07',
 '2021-07-14',
 '2021-07-15',
 '2021-07-19',
 '2021-07-20',
 '2021-07-24',
 '2021-07-26',
 '2021-07-28',
 '2021-08-02',
 '2021-08-03',
 '2021-08-06',
 '2021-08-08',
 '2021-08-10',
 '2021-08-15',
 '2021-08-16',
 '2021-08-18',
 '2021-08-20',
 '2021-08-23',
 '2021-08-30',
 '2021-08-31',
 '2021-09-01',
 '2021-09-03',
 '2021-09-08',
 '2021-09-12',
 '2021-09-13',
 '2021-09-15',
 '2021-09-18',
 '2021-09-20',
 '2021-09-21',
 '2021-09-25',
 '2021-09-28',
 '2021-10-01',
 '2021-10-04',
 '2021-10-06',
 '2021-10-12',
 '2021-10-18',
 '2021-10-21',
 '2021-10-25',
 '2021-10-26',
 '2021-11-01',
 '2021-11-03',
 '2021-11-04',
 '2021-11-09',
 '2021-11-11',
 '2021-11-12',
 '2021-11-13',
 '2021-11-18',
 '2021-11-23',
 '2021-11-25',
 '2021-12-15',
 '2021-12-20',
 '2021-12-22',
 '2021-12-23',
 '2021-12-27',
 '2021-12-28',
 '2021-12-30',
 '2022-01-01',
 '2022-01-05',
 '2022-01-10',
 '2022-01-19',
 '2022-01-21',
 '2022-01-22',
 '2022-02-15',
 '2022-02-18',
 '2022-02-24',
 '2022-03-09',
 '2022-03-12',
 '2022-03-16',
 '2022-03-17',
 '2022-03-19',
 '2022-03-22',
 '2022-03-30',
 '2022-04-07',
 '2022-04-08',
 '2022-04-11',
 '2022-04-14',
 '2022-04-19',
 '2022-04-20',
 '2022-04-21',
 '2022-04-22',
 '2022-04-25',
 '2022-04-27',
 '2022-04-30',
 '2022-05-10',
 '2022-05-12',
 '2022-05-15',
 '2022-05-17',
 '2022-05-18',
 '2022-05-19',
 '2022-05-20',
 '2022-05-21',
 '2022-05-23',
 '2022-05-27',
 '2022-06-02',
 '2022-06-03',
 '2022-06-06',
 '2022-06-07',
 '2022-06-08',
 '2022-06-09',
 '2022-06-13',
 '2022-06-15',
 '2022-06-17',
 '2022-06-20',
 '2022-06-26',
 '2022-07-03',
 '2022-07-12',
 '2022-07-16',
 '2022-07-22',
 '2022-08-12',
 '2022-08-31',
 '2022-09-06',
 '2022-09-07',
 '2022-09-08',
 '2022-09-09',
 '2022-09-18',
 '2022-09-25',
 '2022-10-22',
 '2022-11-05',
 '2022-11-21',
 '2022-12-05',
 '2022-12-08',
 '2022-12-09',
 '2023-01-06',
 '2023-02-25',
 '2023-03-13'}

In [48]:
ACCS.drop_duplicates(subset=['软件名称'], inplace=True)#删除重复项
ACCS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1231 entries, 0 to 1268
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     1231 non-null   object
 1   序号      1231 non-null   float64
 2   软件名称    1231 non-null   object
 3   软件简称    1231 non-null   object
 4   版本号     1231 non-null   object
 5   软件著作分类  1231 non-null   object
 6   行业分类    1231 non-null   object
 7   登记日期    1231 non-null   object
 8   软件著作人   1231 non-null   object
 9   首次发表日期  1231 non-null   object
 10  国籍      1231 non-null   object
 11  C       531 non-null    object
dtypes: float64(1), object(11)
memory usage: 125.0+ KB

In [49]:
ACCS.drop(ACCS.columns[[1,10]],axis=1,inplace=True)#删除不要的列
ACCS.reset_index(drop=False,inplace=True)
ACCS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231 entries, 0 to 1230
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   1231 non-null   int64
 1   _id     1231 non-null   object
 2   软件名称    1231 non-null   object
 3   软件简称    1231 non-null   object
 4   版本号     1231 non-null   object
 5   软件著作分类  1231 non-null   object
 6   行业分类    1231 non-null   object
 7   登记日期    1231 non-null   object
 8   软件著作人   1231 non-null   object
 9   首次发表日期  1231 non-null   object
 10  C       531 non-null    object
dtypes: int64(1), object(10)
memory usage: 105.9+ KB

In [50]:
ACCS.rename(columns={'index':'A ID','_id':'b_i ID','软件名称':'softwarename','软件简称':'shortname','版本号':'versionnum','软件著作分类':'classification','行业分类':'industry','登记日期':'recorddate','软件著作人':'company','首次发表日期':'firstdate'},inplace=True)
#重命名
new_order=['A ID','softwarename','shortname','versionnum','classification','industry','recorddate','company','firstdate','b_i ID']
ACCS = ACCS.reindex(columns=new_order)#重新排序
ACCS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231 entries, 0 to 1230
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   A ID            1231 non-null   int64
 1   softwarename    1231 non-null   object
 2   shortname       1231 non-null   object
 3   versionnum      1231 non-null   object
 4   classification  1231 non-null   object
 5   industry        1231 non-null   object
 6   recorddate      1231 non-null   object
 7   company         1231 non-null   object
 8   firstdate       1231 non-null   object
 9   b_i ID          1231 non-null   object
dtypes: int64(1), object(9)
memory usage: 96.3+ KB

In [51]:
ACCS.to_csv('./数据仓库构建/工商数据/ACCS.csv')

# brand

In [171]:
brand = pd.read_csv('./数据仓库构建/工商数据/粮油公司注册商标.csv')
brand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70187 entries, 0 to 70186
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     70187 non-null  object
 1   序号      70187 non-null  float64
 2   商标      67968 non-null  object
 3   商标名称    70187 non-null  object
 4   注册号     70187 non-null  object
 5   国际分类    0 non-null      float64
 6   申请时间    70187 non-null  object
dtypes: float64(2), object(5)
memory usage: 3.7+ MB

In [172]:
brand.drop(ACCS.columns[[1,5]],axis=1,inplace=True)#删除不要的列
brand.reset_index(drop=True,inplace=True)
brand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70187 entries, 0 to 70186
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     70187 non-null  object
 1   商标      67968 non-null  object
 2   商标名称    70187 non-null  object
 3   注册号     70187 non-null  object
 4   申请时间    70187 non-null  object
dtypes: object(5)
memory usage: 2.7+ MB

In [173]:
brand.drop_duplicates(subset=['注册号'], inplace=True)#删除重复项
brand.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64695 entries, 0 to 70147
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     64695 non-null  object
 1   商标      62603 non-null  object
 2   商标名称    64695 non-null  object
 3   注册号     64695 non-null  object
 4   申请时间    64695 non-null  object
dtypes: object(5)
memory usage: 3.0+ MB

In [127]:
brand.loc[brand['申请时间'].str.slice(0, 4) == '-', '申请时间'] = '1900-01-01'#处理异常值
brand.loc[brand['申请时间'].str.slice(4, 5) == '', '申请时间'] = '1900-01-01'
brand.loc[brand['申请时间'].str.slice(5, 7) == '', '申请时间'] = '1900-01-01'
brand.loc[brand['申请时间'].str.slice(7, 8) == '', '申请时间'] = '1900-01-01'
brand.loc[brand['申请时间'].str.slice(8, 10) == '', '申请时间'] = '1900-01-01'

In [128]:
brand.rename(columns={'_id':'b_i ID','商标':'brandwebsite','商标名称':'brand','注册号':'registr ID','申请时间':'date'},inplace=True)
new_order = ['registr ID','brandwebsite','brand','date','b_i ID']
brand = brand.reindex(columns=new_order)
brand.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64695 entries, 0 to 70147
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   registr ID    64695 non-null  object
 1   brandwebsite  62603 non-null  object
 2   brand         64695 non-null  object
 3   date          64695 non-null  object
 4   b_i ID        64695 non-null  object
dtypes: object(5)
memory usage: 3.0+ MB

In [129]:
df_reference = pd.read_csv('./数据仓库构建/工商数据/basic_information.csv')#删除不符合的外键
cleaned_data = pd.merge(df_reference,brand,on='b_i ID')

In [130]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64544 entries, 0 to 64543
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       64544 non-null  int64
 1   b_i ID           64544 non-null  object
 2   url              64544 non-null  object
 3   enterprise_name  64544 non-null  object
 4   annul_date       64544 non-null  object
 5   authority        64544 non-null  object
 6   district         64544 non-null  object
 7   entype           64544 non-null  object
 8   industry         64544 non-null  object
 9   insurence_num    64544 non-null  object
 10  legai_person     64544 non-null  object
 11  license_num      64544 non-null  object
 12  open_status      64544 non-null  object
 13  opentime         64544 non-null  object
 14  orgnum           64544 non-null  object
 15  registr ID       64544 non-null  object
 16  brandwebsite     62467 non-null  object
 17  brand            64544 non-null  object
 18  date             64544 non-null  object
dtypes: int64(1), object(18)
memory usage: 9.8+ MB

In [131]:
cleaned_data.drop(cleaned_data.columns[[0,2,3,4,5,6,7,8,9,10,11,12,13,14]],axis=1,inplace=True)#删除不要的列
cleaned_data.reset_index(drop=True,inplace=True)
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64544 entries, 0 to 64543
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   b_i ID        64544 non-null  object
 1   registr ID    64544 non-null  object
 2   brandwebsite  62467 non-null  object
 3   brand         64544 non-null  object
 4   date          64544 non-null  object
dtypes: object(5)
memory usage: 2.5+ MB

In [132]:
cleaned_data.to_csv('./数据仓库构建/工商数据/brand.csv')

# change_record

In [133]:
change_record = pd.read_csv('./数据仓库构建/工商数据/粮油公司变更记录.csv')
change_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37104 entries, 0 to 37103
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     37104 non-null  object
 1   序号      37104 non-null  float64
 2   变更日期    37104 non-null  object
 3   变更项目    37104 non-null  object
 4   变更前     37104 non-null  object
 5   变更后     37104 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.7+ MB

In [134]:
change_record.drop(change_record.columns[1],axis=1,inplace=True)
change_record.reset_index(drop=False,inplace=True)
change_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37104 entries, 0 to 37103
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   37104 non-null  int64
 1   _id     37104 non-null  object
 2   变更日期    37104 non-null  object
 3   变更项目    37104 non-null  object
 4   变更前     37104 non-null  object
 5   变更后     37104 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.7+ MB

In [135]:
set1 = set(change_record['变更日期'])
df = pd.DataFrame(list(set1),columns=['Value'])
df.to_csv('./output.csv',index=False)

In [136]:
change_record.rename(columns={'index':'c_r ID','_id':'b_i ID','变更日期':'changedate','变更项目':'changeitem','变更前':'beforechange','变更后':'afterchange'},inplace=True)
new_order=['c_r ID','changedate','changeitem','beforechange','afterchange','b_i ID']
change_record = change_record.reindex(columns=new_order)
change_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37104 entries, 0 to 37103
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   c_r ID        37104 non-null  int64
 1   changedate    37104 non-null  object
 2   changeitem    37104 non-null  object
 3   beforechange  37104 non-null  object
 4   afterchange   37104 non-null  object
 5   b_i ID        37104 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.7+ MB

In [137]:
df_reference = pd.read_csv('./数据仓库构建/工商数据/basic_information.csv')#删除不符合的外键
cleaned_data = pd.merge(df_reference,change_record,on='b_i ID')

In [138]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36391 entries, 0 to 36390
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       36391 non-null  int64
 1   b_i ID           36391 non-null  object
 2   url              36391 non-null  object
 3   enterprise_name  36391 non-null  object
 4   annul_date       36391 non-null  object
 5   authority        36391 non-null  object
 6   district         36391 non-null  object
 7   entype           36391 non-null  object
 8   industry         36391 non-null  object
 9   insurence_num    36391 non-null  object
 10  legai_person     36391 non-null  object
 11  license_num      36391 non-null  object
 12  open_status      36391 non-null  object
 13  opentime         36391 non-null  object
 14  orgnum           36391 non-null  object
 15  c_r ID           36391 non-null  int64
 16  changedate       36391 non-null  object
 17  changeitem       36391 non-null  object
 18  beforechange     36391 non-null  object
 19  afterchange      36391 non-null  object
dtypes: int64(2), object(18)
memory usage: 5.8+ MB

In [139]:
cleaned_data.drop(cleaned_data.columns[[0,2,3,4,5,6,7,8,9,10,11,12,13,14]],axis=1,inplace=True)#删除不要的列
cleaned_data.reset_index(drop=True,inplace=True)
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36391 entries, 0 to 36390
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   b_i ID        36391 non-null  object
 1   c_r ID        36391 non-null  int64
 2   changedate    36391 non-null  object
 3   changeitem    36391 non-null  object
 4   beforechange  36391 non-null  object
 5   afterchange   36391 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.7+ MB

In [140]:
cleaned_data.to_csv('./数据仓库构建/工商数据/change_record.csv')

# ICP_record

In [156]:
ICP_record = pd.read_csv('./数据仓库构建/工商数据/粮油公司ICP备案.csv')
ICP_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189 entries, 0 to 1188
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     1189 non-null   object
 1   序号      1189 non-null   float64
 2   首页地址    1189 non-null   object
 3   网站名称    1189 non-null   object
 4   域名      1189 non-null   object
 5   备案号     1189 non-null   object
dtypes: float64(1), object(5)
memory usage: 55.9+ KB

In [157]:
ICP_record.drop(ICP_record.columns[[1,2]],axis=1,inplace=True)
ICP_record.reset_index(drop=False,inplace=True)
ICP_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189 entries, 0 to 1188
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   1189 non-null   int64
 1   _id     1189 non-null   object
 2   网站名称    1189 non-null   object
 3   域名      1189 non-null   object
 4   备案号     1189 non-null   object
dtypes: int64(1), object(4)
memory usage: 46.6+ KB

In [166]:

ICP_record.rename(columns={'index':'I_r ID','网站名称':'websitename','域名':'website','备案号':'recordnum','_id':'b_i ID'},inplace=True)

In [167]:
df_reference = pd.read_csv('./数据仓库构建/工商数据/basic_information.csv')#删除不符合的外键
cleaned_data = pd.merge(df_reference,ICP_record,on='b_i ID')

In [168]:
cleaned_data.drop(cleaned_data.columns[[0,2,3,4,5,6,7,8,9,10,11,12,13,14]],axis=1,inplace=True)#删除不要的列
cleaned_data.reset_index(drop=True,inplace=True)
cleaned_data.to_csv('./数据仓库构建/工商数据/ICP_record.csv')

# patent

In [169]:
patent = pd.read_csv('./数据仓库构建/工商数据/粮油公司专利.csv')
patent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12493 entries, 0 to 12492
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   _id      12493 non-null  object
 1   序号       12493 non-null  float64
 2   专利名称     12493 non-null  object
 3   公布/公告号   12493 non-null  object
 4   专利类型     12493 non-null  object
 5   公布/公告日期  12493 non-null  object
dtypes: float64(1), object(5)
memory usage: 585.7+ KB

In [174]:
patent.drop(patent.columns[1],axis=1,inplace=True)#删除不要的列

In [176]:
patent.drop_duplicates(subset=['公布/公告号'], inplace=True)#删除重复项
patent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12403 entries, 0 to 12408
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   _id      12403 non-null  object
 1   专利名称     12403 non-null  object
 2   公布/公告号   12403 non-null  object
 3   专利类型     12403 non-null  object
 4   公布/公告日期  12403 non-null  object
dtypes: object(5)
memory usage: 581.4+ KB

In [177]:
patent.rename(columns={'_id':'b_i ID','专利名称':'patentname','公布/公告号':'patentnum','专利类型':'type','公布/公告日期':'date'},inplace=True)
#重命名

In [178]:
set(patent['date'].str.slice(0, 4))#检查异常值

{'1992',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023'}

In [179]:
set(patent['date'].str.slice(4, 5))

{'-'}

In [180]:
set(patent['date'].str.slice(5, 7))

{'01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'}

In [183]:
df_reference = pd.read_csv('./数据仓库构建/工商数据/basic_information.csv')#删除不符合的外键
cleaned_data = pd.merge(df_reference,patent,on='b_i ID')
patent = cleaned_data[['b_i ID','patentname','patentnum','type','date']]
patent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12403 entries, 0 to 12402
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   b_i ID      12403 non-null  object
 1   patentname  12403 non-null  object
 2   patentnum   12403 non-null  object
 3   type        12403 non-null  object
 4   date        12403 non-null  object
dtypes: object(5)
memory usage: 581.4+ KB

In [184]:
patent.to_csv('./数据仓库构建/工商数据/patent.csv')

# production

In [187]:
production = pd.read_csv('./数据仓库构建/工商数据/粮油公司作品.csv')
production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1410 entries, 0 to 1409
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     1410 non-null   object
 1   序号      1410 non-null   float64
 2   登记号     1410 non-null   object
 3   作品类别    1410 non-null   object
 4   作品名称    1410 non-null   object
 5   创作完成日期  1410 non-null   object
 6   首次发表日期  1410 non-null   object
 7   登记日期    1410 non-null   object
dtypes: float64(1), object(7)
memory usage: 88.2+ KB

In [188]:
production.drop(production.columns[1],axis=1,inplace=True)#删除不要的列
production.reset_index(drop=True,inplace=True)

In [189]:
production.drop_duplicates(subset=['作品名称'], inplace=True)#删除重复项
production.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1303 entries, 0 to 1387
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     1303 non-null   object
 1   登记号     1303 non-null   object
 2   作品类别    1303 non-null   object
 3   作品名称    1303 non-null   object
 4   创作完成日期  1303 non-null   object
 5   首次发表日期  1303 non-null   object
 6   登记日期    1303 non-null   object
dtypes: object(7)
memory usage: 81.4+ KB

In [190]:
set(production['创作完成日期'].str.slice(0, 4))#检查异常值

{'-',
 '1989',
 '1991',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022'}

In [191]:
set(production['创作完成日期'].str.slice(4, 5))

{'', '-'}

In [192]:
set(production['创作完成日期'].str.slice(5, 7))

{'', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'}

In [193]:
set(production['创作完成日期'].str.slice(7, 8))

{'', '-'}

In [194]:
set(production['创作完成日期'].str.slice(8, 10))

{'',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31'}

In [195]:
production.loc[production['创作完成日期'].str.slice(0, 4) == '-', '创作完成日期'] = '1900-01-01'
production.loc[production['创作完成日期'].str.slice(4, 5) == '', '创作完成日期'] = '1900-01-01'
production.loc[production['创作完成日期'].str.slice(5, 7) == '', '创作完成日期'] = '1900-01-01'
production.loc[production['创作完成日期'].str.slice(7, 8) == '', '创作完成日期'] = '1900-01-01'
production.loc[production['创作完成日期'].str.slice(8, 10) == '', '创作完成日期'] = '1900-01-01'

In [196]:
set(production['首次发表日期'].str.slice(0, 4))#检查异常值

{'-',
 '1992',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022'}

In [197]:
production.loc[production['首次发表日期'].str.slice(0, 4) == '-', '首次发表日期'] = '1900-01-01'
production.loc[production['首次发表日期'].str.slice(4, 5) == '', '首次发表日期'] = '1900-01-01'
production.loc[production['首次发表日期'].str.slice(5, 7) == '', '首次发表日期'] = '1900-01-01'
production.loc[production['首次发表日期'].str.slice(7, 8) == '', '首次发表日期'] = '1900-01-01'
production.loc[production['首次发表日期'].str.slice(8, 10) == '', '首次发表日期'] = '1900-01-01'

In [198]:
production.loc[production['登记日期'].str.slice(0, 4) == '-', '登记日期'] = '1900-01-01'
production.loc[production['登记日期'].str.slice(4, 5) == '', '登记日期'] = '1900-01-01'
production.loc[production['登记日期'].str.slice(5, 7) == '', '登记日期'] = '1900-01-01'
production.loc[production['登记日期'].str.slice(7, 8) == '', '登记日期'] = '1900-01-01'
production.loc[production['登记日期'].str.slice(8, 10) == '', '登记日期'] = '1900-01-01'

In [199]:
production.rename(columns={'_id':'b_i ID','登记号':'recordnum','作品类别':'type','作品名称':'name','创作完成日期':'completedate','首次发表日期':'firstdate','登记日期':'recorddate'},inplace=True)
#重命名

In [200]:
df_reference = pd.read_csv('./数据仓库构建/工商数据/basic_information.csv')#删除不符合的外键
cleaned_data = pd.merge(df_reference,production,on='b_i ID')
production = cleaned_data[['b_i ID','recordnum','type','name','completedate','firstdate','recorddate']]
production.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1298 entries, 0 to 1297
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   b_i ID        1298 non-null   object
 1   recordnum     1298 non-null   object
 2   type          1298 non-null   object
 3   name          1298 non-null   object
 4   completedate  1298 non-null   object
 5   firstdate     1298 non-null   object
 6   recorddate    1298 non-null   object
dtypes: object(7)
memory usage: 81.1+ KB

In [201]:
production.to_csv('./数据仓库构建/工商数据/production.csv',index=False)

# regulatory_record

In [209]:
regulatory_record = pd.read_csv('./数据仓库构建/工商数据/粮油公司监管记录.csv')
regulatory_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3017 entries, 0 to 3016
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     3017 non-null   object
 1   序号      3017 non-null   float64
 2   日期      3017 non-null   object
 3   类型      3017 non-null   object
 4   结果      3017 non-null   object
 5   检查机构    3017 non-null   object
dtypes: float64(1), object(5)
memory usage: 141.5+ KB

In [210]:
regulatory_record.drop(regulatory_record.columns[1],axis=1,inplace=True)#删除不要的列
regulatory_record.reset_index(drop=False,inplace=True)

In [211]:
set(regulatory_record['日期'].str.slice(0, 4))#检查异常值

{'2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2121'}

In [212]:
regulatory_record.rename(columns={'index':'r_r ID','_id':'b_i ID','日期':'date','类型':'type','结果':'result','检查机构':'org'},inplace=True)
#重命名

In [213]:
df_reference = pd.read_csv('./数据仓库构建/工商数据/basic_information.csv')#删除不符合的外键
cleaned_data = pd.merge(df_reference,regulatory_record,on='b_i ID')
regulatory_record = cleaned_data[['r_r ID','b_i ID','date','type','result','org']]
regulatory_record.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2939 entries, 0 to 2938
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   r_r ID  2939 non-null   int64
 1   b_i ID  2939 non-null   object
 2   date    2939 non-null   object
 3   type    2939 non-null   object
 4   result  2939 non-null   object
 5   org     2939 non-null   object
dtypes: int64(1), object(5)
memory usage: 160.7+ KB

In [214]:
regulatory_record.to_csv('./数据仓库构建/工商数据/regulatory_record.csv',index=False)

# shareholder_information

In [215]:
shareholder_information = pd.read_csv('./数据仓库构建/工商数据/粮油公司股东信息.csv')
shareholder_information.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7270 entries, 0 to 7269
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   _id      7270 non-null   object
 1   序号       7270 non-null   float64
 2   股东名称     7270 non-null   object
 3   股份类型     320 non-null    object
 4   持股数量(股)  7270 non-null   object
 5   持股比例     7270 non-null   object
 6   认缴出资额    7170 non-null   object
 7   认缴出资日期   7170 non-null   object
dtypes: float64(1), object(7)
memory usage: 454.5+ KB

In [216]:
shareholder_information.drop(shareholder_information.columns[[1,3,4]],axis=1,inplace=True)#删除不要的列
shareholder_information.reset_index(drop=False,inplace=True)

In [217]:
shareholder_information.drop_duplicates(subset=['股东名称'], inplace=True)#删除重复项
shareholder_information.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6220 entries, 0 to 7137
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   6220 non-null   int64
 1   _id     6220 non-null   object
 2   股东名称    6220 non-null   object
 3   持股比例    6220 non-null   object
 4   认缴出资额   6122 non-null   object
 5   认缴出资日期  6122 non-null   object
dtypes: int64(1), object(5)
memory usage: 340.2+ KB

In [218]:
shareholder_information.dropna(subset=['认缴出资额','认缴出资日期'],inplace = True)#删除缺失值
shareholder_information.reset_index(drop=True,inplace=True)
shareholder_information.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6122 entries, 0 to 6121
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   6122 non-null   int64
 1   _id     6122 non-null   object
 2   股东名称    6122 non-null   object
 3   持股比例    6122 non-null   object
 4   认缴出资额   6122 non-null   object
 5   认缴出资日期  6122 non-null   object
dtypes: int64(1), object(5)
memory usage: 287.1+ KB

In [220]:
set(shareholder_information['认缴出资日期'].str.slice(0, 4))#检查异常值

{'-',
 '1963',
 '1964',
 '1992',
 '1995',
 '1997',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024',
 '2025',
 '2026',
 '2027',
 '2028',
 '2029',
 '2030',
 '2031',
 '2032',
 '2033',
 '2034',
 '2035',
 '2036',
 '2037',
 '2038',
 '2039',
 '2040',
 '2041',
 '2042',
 '2043',
 '2044',
 '2045',
 '2046',
 '2047',
 '2048',
 '2049',
 '2050',
 '2051',
 '2052',
 '2053',
 '2055',
 '2056',
 '2057',
 '2058',
 '2059',
 '2060',
 '2061',
 '2062',
 '2063',
 '2064',
 '2065',
 '2066',
 '2067',
 '2068',
 '2069',
 '2070',
 '2071',
 '2072',
 '2073',
 '2074',
 '2076',
 '2077',
 '2078',
 '2079',
 '2080',
 '2083',
 '2085',
 '2088',
 '2099'}

In [221]:
data0 = shareholder_information
time1 = '认缴出资日期'
data0.loc[data0[time1].str.slice(0, 4) == '-', time1] = '1900-01-01'
data0.loc[data0[time1].str.slice(4, 5) == '', time1] = '1900-01-01'
data0.loc[data0[time1].str.slice(5, 7) == '', time1] = '1900-01-01'
data0.loc[data0[time1].str.slice(7, 8) == '', time1] = '1900-01-01'
data0.loc[data0[time1].str.slice(8, 10) == '', time1] = '1900-01-01'

In [228]:
shareholder_information.rename(columns={'index':'s_i ID','_id':'b_i ID','股东名称':'shareholdername','持股比例':'shareholdingratio','认缴出资额':'money','认缴出资日期':'date'},inplace=True)
#重命名

In [230]:
df_reference = pd.read_csv('./数据仓库构建/工商数据/basic_information.csv')#删除不符合的外键
cleaned_data = pd.merge(df_reference,shareholder_information,on='b_i ID')
shareholder_information = cleaned_data[['s_i ID','b_i ID','shareholdername','shareholdingratio','money','date']]
shareholder_information.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5952 entries, 0 to 5951
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   s_i ID             5952 non-null   int64
 1   b_i ID             5952 non-null   object
 2   shareholdername    5952 non-null   object
 3   shareholdingratio  5952 non-null   object
 4   money              5952 non-null   object
 5   date               5952 non-null   object
dtypes: int64(1), object(5)
memory usage: 325.5+ KB

In [231]:
shareholder_information.to_csv('./数据仓库构建/工商数据/shareholder_information.csv',index=False)

# jingdong_store

In [271]:
jingdong_store = pd.read_csv('./数据仓库构建/京东店铺.csv')
jingdong_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       5183 non-null   object
 1   店铺ID      5183 non-null   int64
 2   企业名称      4827 non-null   object
 3   企业注册资金    4639 non-null   object
 4   店铺名称      4828 non-null   object
 5   店铺链接      5183 non-null   object
 6   法定代表人姓名   4827 non-null   object
 7   联系地址      4827 non-null   object
 8   营业执照所在地   4827 non-null   object
 9   营业执照有效期   4828 non-null   object
 10  营业执照注册号   4828 non-null   object
 11  营业执照经营范围  4828 non-null   object
dtypes: int64(1), object(11)
memory usage: 486.0+ KB

In [272]:
jingdong_store.drop(jingdong_store.columns[[2,3,6,7,8,9,11]],axis=1,inplace=True)#删除不要的列
jingdong_store.reset_index(drop=True,inplace=True)

In [273]:
jingdong_store.drop_duplicates(subset=['店铺ID'], inplace=True)#删除重复项
jingdong_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5183 entries, 0 to 5182
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   _id      5183 non-null   object
 1   店铺ID     5183 non-null   int64
 2   店铺名称     4828 non-null   object
 3   店铺链接     5183 non-null   object
 4   营业执照注册号  4828 non-null   object
dtypes: int64(1), object(4)
memory usage: 243.0+ KB

In [274]:
jingdong_store.dropna(subset=['店铺名称'],inplace = True)#删除缺失值
jingdong_store.reset_index(drop=True,inplace=True)
jingdong_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4828 entries, 0 to 4827
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   _id      4828 non-null   object
 1   店铺ID     4828 non-null   int64
 2   店铺名称     4828 non-null   object
 3   店铺链接     4828 non-null   object
 4   营业执照注册号  4828 non-null   object
dtypes: int64(1), object(4)
memory usage: 188.7+ KB

In [275]:
jingdong_store.rename(columns={'_id':'b_i1 ID','店铺ID':'store ID','店铺名称':'storename','店铺链接':'link','营业执照注册号':'regNo'},inplace=True)
#重命名

In [276]:
df_reference = pd.read_csv('./数据仓库构建/工商数据/basic_information.csv')#删除不符合的外键
cleaned_data = pd.merge(df_reference,jingdong_store,on='regNo')
jingdong_store = cleaned_data[['store ID','b_i ID','storename','link']]
jingdong_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4573 entries, 0 to 4572
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   store ID   4573 non-null   int64
 1   b_i ID     4573 non-null   object
 2   storename  4573 non-null   object
 3   link       4573 non-null   object
dtypes: int64(1), object(3)
memory usage: 178.6+ KB

In [277]:
jingdong_store.to_csv('./数据仓库构建/jingdong_store.csv',index=False)

# transaction_data

In [114]:
total_data = pd.read_csv('./数据仓库构建/周交易数据/20230311/jd_detail-0.csv',dtype={'SKU ID': str})
transaction_data = total_data[['SKU ID','采集时间','商品评价数','商品规格','单位价格','好评度']]
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56896 entries, 0 to 56895
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SKU ID  54749 non-null  object
 1   采集时间    56896 non-null  object
 2   商品评价数   54749 non-null  object
 3   商品规格    23898 non-null  object
 4   单位价格    23897 non-null  object
 5   好评度     54749 non-null  object
dtypes: object(6)
memory usage: 2.6+ MB

In [115]:
transaction_data.iloc[1,0]

'100028456348'

In [116]:
transaction_data.drop_duplicates(subset=['SKU ID','采集时间'], inplace=True)#删除重复项
transaction_data.reset_index(drop=False,inplace=True)
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   55440 non-null  int64
 1   SKU ID  54749 non-null  object
 2   采集时间    55440 non-null  object
 3   商品评价数   54749 non-null  object
 4   商品规格    23898 non-null  object
 5   单位价格    23897 non-null  object
 6   好评度     54749 non-null  object
dtypes: int64(1), object(6)
memory usage: 3.0+ MB

In [117]:
transaction_data.dropna(subset=['SKU ID'],inplace = True)#删除缺失值
transaction_data.reset_index(drop=True,inplace=True)
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54749 entries, 0 to 54748
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   54749 non-null  int64
 1   SKU ID  54749 non-null  object
 2   采集时间    54749 non-null  object
 3   商品评价数   54749 non-null  object
 4   商品规格    23898 non-null  object
 5   单位价格    23897 non-null  object
 6   好评度     54749 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.9+ MB

In [118]:
df = transaction_data#重命名
old_column = 'index,SKU ID,采集时间,商品评价数,商品规格,单位价格,好评度'
old_column_list = old_column.split(',')
new_column = 't_d ID,SKU ID,time,commentnum,standard,price,praisedegree'
new_column_list = new_column.split(',')
s = {}
for i in range(len(old_column_list)):
    s[old_column_list[i]]=new_column_list[i]
df.rename(columns=s, inplace=True)

In [119]:
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54749 entries, 0 to 54748
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   t_d ID        54749 non-null  int64
 1   SKU ID        54749 non-null  object
 2   time          54749 non-null  object
 3   commentnum    54749 non-null  object
 4   standard      23898 non-null  object
 5   price         23897 non-null  object
 6   praisedegree  54749 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.9+ MB

In [120]:
df_reference = pd.read_csv('./数据仓库构建/周交易数据/20230311/goods_information_copy.csv')#删除不符合的外键
df_reference_copy = df_reference.copy()
transaction_data_copy = transaction_data.copy()
df_reference_copy['SKU ID'] = df_reference_copy['SKU ID'].astype(str)
transaction_data_copy['SKU ID'] = transaction_data_copy['SKU ID'].astype(str)
cleaned_data = pd.merge(df_reference_copy,transaction_data_copy,on='SKU ID')
transaction_data_copy = cleaned_data[['t_d ID','SKU ID','time','commentnum','standard','price','praisedegree']]
transaction_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11836 entries, 0 to 11835
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   t_d ID        11836 non-null  int64
 1   SKU ID        11836 non-null  object
 2   time          11836 non-null  object
 3   commentnum    11836 non-null  object
 4   standard      11833 non-null  object
 5   price         11832 non-null  object
 6   praisedegree  11836 non-null  object
dtypes: int64(1), object(6)
memory usage: 739.8+ KB

In [121]:
transaction_data_copy.to_csv('./数据仓库构建/周交易数据/20230311/transaction_data.csv',index=False)

# goods_information

In [101]:
goods_information = total_data[['SKU ID','标题','商品介绍信息','货物产地','货物种类','店铺名称']]

In [102]:
goods_information.drop_duplicates(subset=['SKU ID','店铺名称'], inplace=True)#删除重复项
goods_information.reset_index(drop=True,inplace=True)
goods_information.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54750 entries, 0 to 54749
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SKU ID  54749 non-null  object
 1   标题      23900 non-null  object
 2   商品介绍信息  54749 non-null  object
 3   货物产地    11702 non-null  object
 4   货物种类    54750 non-null  object
 5   店铺名称    23774 non-null  object
dtypes: object(6)
memory usage: 2.5+ MB

In [103]:
goods_information.iloc[1,0]

'100028456348'

In [104]:
goods_information.iloc[1,2]

'[{"品牌":"金像牌"},{"商品名称":"金像牌10214001010011-005"},{"商品编号":"100028456348"},{"商品毛重":"1.0kg"},{"商品产地":"中国大陆"},{"货号":"10214001010011-005"},{"包装形式":"袋装"},{"类别":"麦芯粉"},{"净含量":"501g-1kg"}]'

In [105]:
goods_information_copy = goods_information.copy()#确保不会影响原始数据框
goods_information_copy['brand'] = goods_information_copy['商品介绍信息'].str.extract(r'\{"品牌":"(.*?)"\}')
#正则表达式处理

In [106]:
goods_information_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54750 entries, 0 to 54749
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SKU ID  54749 non-null  object
 1   标题      23900 non-null  object
 2   商品介绍信息  54749 non-null  object
 3   货物产地    11702 non-null  object
 4   货物种类    54750 non-null  object
 5   店铺名称    23774 non-null  object
 6   brand   23654 non-null  object
dtypes: object(7)
memory usage: 2.9+ MB

In [107]:
goods_information_copy.iloc[1,6]

'金像牌'

In [108]:
goods_information_copy.dropna(subset=['SKU ID'],inplace = True)#删除缺失值
goods_information_copy.reset_index(drop=True,inplace=True)
goods_information_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54749 entries, 0 to 54748
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SKU ID  54749 non-null  object
 1   标题      23900 non-null  object
 2   商品介绍信息  54749 non-null  object
 3   货物产地    11702 non-null  object
 4   货物种类    54749 non-null  object
 5   店铺名称    23774 non-null  object
 6   brand   23654 non-null  object
dtypes: object(7)
memory usage: 2.9+ MB

In [109]:
goods_information_copy.drop(goods_information_copy.columns[2],axis=1,inplace=True)#删除不要的列
goods_information_copy.reset_index(drop=True,inplace=True)

In [110]:
df = goods_information_copy#重命名
old_column = 'SKU ID,标题,货物产地,货物种类,店铺名称'
old_column_list = old_column.split(',')
new_column = 'SKU ID,title,originplace,type,storename'
new_column_list = new_column.split(',')
s = {}
for i in range(len(old_column_list)):
    s[old_column_list[i]]=new_column_list[i]
df.rename(columns=s, inplace=True)

In [111]:
goods_information_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54749 entries, 0 to 54748
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SKU ID       54749 non-null  object
 1   title        23900 non-null  object
 2   originplace  11702 non-null  object
 3   type         54749 non-null  object
 4   storename    23774 non-null  object
 5   brand        23654 non-null  object
dtypes: object(6)
memory usage: 2.5+ MB

In [112]:
df_reference = pd.read_csv('./数据仓库构建/jingdong_store.csv')#连接表得到storeID属性
cleaned_data = pd.merge(df_reference,goods_information_copy,on='storename')
goods_information_copy = cleaned_data[['store ID','SKU ID','title','originplace','type','brand']]
goods_information_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11836 entries, 0 to 11835
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   store ID     11836 non-null  int64
 1   SKU ID       11836 non-null  object
 2   title        11835 non-null  object
 3   originplace  6127 non-null   object
 4   type         11836 non-null  object
 5   brand        11809 non-null  object
dtypes: int64(1), object(5)
memory usage: 647.3+ KB

In [113]:
goods_information_copy.to_csv('./数据仓库构建/周交易数据/20230311/goods_information.csv',index=False)

# comment

In [124]:
comment = pd.read_csv('./数据仓库构建/京东评论.csv',dtype={'SKU ID': str})
comment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13341014 entries, 0 to 13341013
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   _id     object
 1   SKU_ID  int64
 2   评论ID    int64
 3   评价者     object
 4   评论内容    object
 5   评论回复数   float64
 6   评论图片    object
 7   评论时间    object
 8   评论视频    object
 9   评论评分    float64
dtypes: float64(2), int64(2), object(6)
memory usage: 1017.8+ MB

In [134]:
comment.drop(comment.columns[[0,3,6,8]],axis=1,inplace=True)#删除不要的列
comment.reset_index(drop=True,inplace=True)
comment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13341014 entries, 0 to 13341013
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   SKU_ID  int64
 1   评论ID    int64
 2   评论内容    object
 3   评论回复数   float64
 4   评论时间    object
 5   评论评分    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 610.7+ MB

In [125]:
comment.iloc[1,1]

2205060

In [127]:
df_reference = pd.read_csv('./数据仓库构建/周交易数据/20230311/goods_information.csv')
df_reference.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11836 entries, 0 to 11835
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   store ID     11836 non-null  int64
 1   SKU ID       11836 non-null  int64
 2   title        11835 non-null  object
 3   originplace  6127 non-null   object
 4   type         11836 non-null  object
 5   brand        11809 non-null  object
dtypes: int64(2), object(4)
memory usage: 554.9+ KB

In [128]:
set(df_reference['type'])

{'大米', '杂粮', '面粉', '食用油'}

In [129]:
df_reference_rice = df_reference[df_reference['type'] == '大米']#对列中内容进行筛选

In [136]:
df_reference_rice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3101 entries, 2 to 11835
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   store ID     3101 non-null   int64
 1   SKU ID       3101 non-null   int64
 2   title        3101 non-null   object
 3   originplace  1953 non-null   object
 4   type         3101 non-null   object
 5   brand        3097 non-null   object
dtypes: int64(2), object(4)
memory usage: 169.6+ KB

In [130]:
df_reference_grain = df_reference[df_reference['type'] == '杂粮']

In [131]:
df_reference_flour = df_reference[df_reference['type'] == '面粉']

In [132]:
df_reference_oil = df_reference[df_reference['type'] == '食用油']

In [141]:
comment.rename(columns={'SKU_ID':'SKU ID'},inplace = True)

## comment_rice

In [143]:
#df_reference_rice_copy = df_reference_rice.copy()
#comment_copy = comment.copy()
#df_reference_rice_copy['SKU ID'] = df_reference_rice_copy['SKU ID'].astype(str)
#comment_copy['SKU ID'] = comment_copy['SKU ID'].astype(str)
cleaned_data = pd.merge(df_reference_rice,comment,on='SKU ID')#连接表对表进行分割
comment_rice = cleaned_data[['评论ID','SKU ID','评论内容','评论回复数','评论时间','评论评分','type']]
comment_rice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153015 entries, 0 to 153014
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   评论ID    153015 non-null  int64
 1   SKU ID  153015 non-null  int64
 2   评论内容    153015 non-null  object
 3   评论回复数   152943 non-null  float64
 4   评论时间    153015 non-null  object
 5   评论评分    152943 non-null  float64
 6   type    153015 non-null  object
dtypes: float64(2), int64(2), object(3)
memory usage: 9.3+ MB

In [145]:
comment_rice.drop_duplicates(subset=['评论ID'], inplace=True)#删除重复项
comment_rice.reset_index(drop=True,inplace=True)
comment_rice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153015 entries, 0 to 153014
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   评论ID    153015 non-null  int64
 1   SKU ID  153015 non-null  int64
 2   评论内容    153015 non-null  object
 3   评论回复数   152943 non-null  float64
 4   评论时间    153015 non-null  object
 5   评论评分    152943 non-null  float64
 6   type    153015 non-null  object
dtypes: float64(2), int64(2), object(3)
memory usage: 8.2+ MB

In [147]:
data0 = comment_rice#处理时间异常值
time1 = '评论时间'
data0.loc[data0[time1].str.slice(0, 4) == '-', time1] = '1900-01-01 10:10:10'
data0.loc[data0[time1].str.slice(4, 5) == '', time1] = '1900-01-01 10:10:10'
data0.loc[data0[time1].str.slice(5, 7) == '', time1] = '1900-01-01 10:10:10'
data0.loc[data0[time1].str.slice(7, 8) == '', time1] = '1900-01-01 10:10:10'
data0.loc[data0[time1].str.slice(8, 10) == '', time1] = '1900-01-01 10:10:10'

In [149]:
df = comment_rice#重命名
old_column = 'SKU ID,评论ID,评论内容,评论回复数,评论时间,评论评分'
old_column_list = old_column.split(',')
new_column = 'SKU ID,comment ID,content,replynum,time,score'
new_column_list = new_column.split(',')
s = {}
for i in range(len(old_column_list)):
    s[old_column_list[i]]=new_column_list[i]
df.rename(columns=s, inplace=True)

In [151]:
comment_rice.to_csv('./数据仓库构建/comment_rice.csv')

## comment_grain

In [144]:
cleaned_data = pd.merge(df_reference_grain,comment,on='SKU ID')
comment_grain = cleaned_data[['评论ID','SKU ID','评论内容','评论回复数','评论时间','评论评分','type']]
comment_grain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189674 entries, 0 to 189673
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   评论ID    189674 non-null  int64
 1   SKU ID  189674 non-null  int64
 2   评论内容    189674 non-null  object
 3   评论回复数   189529 non-null  float64
 4   评论时间    189674 non-null  object
 5   评论评分    189529 non-null  float64
 6   type    189674 non-null  object
dtypes: float64(2), int64(2), object(3)
memory usage: 11.6+ MB